<div class="box">
    <div class="container">
        <div class="content">
            <p>Dear <b>{{email}},</b></p>

            <div class="info">
				<p><b>COPU Deposit Successful</b></p>
                <p>You’ve successfully deposited {{amount}} COPU to your account.</p>
				<p>Account balance : {{balance}} COPU</p>
				<p>Transaction ID: {{txHash}}.</p>
				<p>Don’t recognize this activity? Please reset your password and contact customer support immediately.</p>
                <p>Please check with the receiving platform or wallet as the transaction is already confirmed on the blockchain explorer.</p>
                <p>Copute team.</p>
				<p><b><i>This is an automated message, please do not reply.</i></b></p>
            </div>
        </div>
    </div>
</div>