<div class="box">
    <h2 class="title">Verify user account</h2>
    <div class="container">
        <div class="content">
            <p>Welcome, <b>{{email}}!</b></p>

            <div class="info">
                <p>Your email has been used to create an account on Copute. To complete your registration, please verify your email address by clicking the link below.</p>
                <p><i>This link will be valid for 30 minutes. </i></p>
                <p><a href="{{link}}">here</a></p>

                <p>If you do not verify your email within 30 minutes, you will need to request a new verification link.</p>
                <p><b>Important: </b>If you do not complete the verification process within 48 hours, your registration will be automatically removed, and you will need to register again with this email address.</p>

                <p>If you did not make this request, please ignore this email.</p>

                <p>Thank you for joining Copute.</p>
            </div>
        </div>
    </div>
</div>