<div class="box">
    <div class="container">
        <div class="content">
            <p>Dear <b>{{email}},</b></p>

            <div class="info">
                <p><b>COPU Withdrawal Successful</b></p>
                <p>You’ve successfully withdrawn {{amount}} COPU from your account.</p>
				<p>Withdrawal Address: {{withdrawAddress}}.</p>
                <p>Transaction ID: {{txHash}}.</p>
				<p>Don’t recognize this activity? Please reset your password and contact customer support immediately.</p>
                <p>Please check with the receiving platform or wallet as the transaction is already confirmed on the blockchain explorer.</p>
                <p><b>This is an automated message, please do not reply.</b></p>
            </div>
        </div>
    </div>
</div>